<h2><font color='amarillo'>Listado de Villanos (DC \ MCUI)</font></h2>
<ul class="villanos">
<li *ngFor="let villano of villanos" [class.selected]="villano === selectedVillano" (click)="onSelect(villano)">
 <span class="badge">{{villano.id}}</span>{{villano.name}}
</li>
</ul>
<div *ngIf="selectedVillano">
 <h2>
 {{selectedVillano.name | uppercase}}
 </h2>
 <ul class="villanos">
 <li>
 <label class="badge" for="villano-name">Nombre Villano</label>
 <span></span>{{selectedVillano.name}}
 </li>
 </ul>
 <ul class="villanos">
 <li>
 <label class="badge" for="villano-name">Poder</label>
 <span ></span>{{selectedVillano.namepower}}
 </li>
 </ul>
 <ul class="villanos">
 <li>
 <label class="badge" for="villano-name">Nivel Poder:</label>
 <span >{{selectedVillano.nivel+numero}}</span>
 </li>
 </ul>
<label for="hero-universo">Nivel de Poder: </label>
<font color='verde'> Incrementar</font> <button (click) = 'acumulador(base)'>+{{base}}</button>
<input id="hero-universo" placeholder={{selectedVillano.nivel+numero}}>
<button (click)='acumulador(-base)'>-{{base}}</button> <font color='red'>Decrementar </font> 
</div>